{{> topHeader }}

<div class="index_header" style="background-color: black">
  <div class="header_logo nh_logo">
    <img src="/images/xterat.png" alt="Xterat" style="width: 81px; top: -12px; right:75px;">
    <hr style="border-left: 1px solid white; height: 37px; top: -8px">
    <span style="color: white">Xterat</span>
  </div>
  <div class="right">
    <a href="/welcome">Home</a>
    <a href="/about">About</a>
    <a href="/developer">Developer</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </div>
</div>