{{> topHeader }}

<div class="index_header">
  <div class="header_logo h_logo">
    <img src="/images/xterat.png" alt="Xterat" style="width: 81px; top: -12px; right:75px;">
    <hr style="border-left: 1px solid white; height: 37px; top: -8px">
    <span style="color: white">Xterat</span>
  </div>
  <div class="right">
    <a href="/">Home</a>
    <a href="/profile/{{session.username}}">Profile</a>
    <a href="/Logout">Logout</a>
  </div>
</div>
